:root {
    --text-primary: #1c2b4e;
    --text-secondary: #406074;
    --accent: #3f728b;
    --accent-opacity: #2e4f782a;
    --bg-color: #dbe8ea;
    --elevation-one: #d1dbe3;
    --elevation-two: #d1dde375;
    --elevation-three: #73879240;
    --elevation-four: #bbc7d5;
    --elevation-five: #ccd2dfce;
    --elevation-six: #d0d5db9e;
}
