:root {
    --text-primary: #c7daee;
    --text-secondary: #a3b4bd;
    --accent: #95b6db;
    --accent-opacity: #95a5db2a;
    --bg-color: #121417;
    --elevation-one: #1c1c21;
    --elevation-two: #1c1c2175;
    --elevation-three: #1e1a1a;
    --elevation-four: #7b73733a;
    --elevation-five: #19191fca;
    --elevation-six: #08080abb;
}
